{% extends "base.html" %}
{% block title %}Создать новый пост{% endblock %}
{% block content %}
{# загружаем фильтр #}
{% load thumbnail %}

<main role="main" class="container">
    <div class="row">
        {% for post in page %}
            <div class="col-md-3 mb-3 mt-1">
                    {% include "includes/author_card.html" %}
            </div>
            <div class="col-md-9">
                {% include "includes/post_card.html" %}
            </div>
            <div class="card mb-3 mt-1 shadow-sm">
                {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                    <img class="card-img" src="{{ im.url }}">
                {% endthumbnail %}
            </div>
        {% endfor %}
        {% include "paginator.html" %}
    </div>
</main>
{% endblock content %}