{% extends "base.html" %}
{% block title %}Перейдите на почту{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">На вашу почту отправленно письмо для изменения пароля</div>
      <div class="card-body">
        <p>На вашу страницу отправлено письмо, для изменения пароля перейдите по ссылке :)</p>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->

{% endblock %}