{% extends "base.html" %}
{% block title %}Вы снова с нами{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">Доступ востановлен</div>
      <div class="card-body">
        <p>Вы успешкно востановили доступ, поздравляем. Мы по вам скучали</p>
        <p>Вы вновь можете пользоваться нашим сервисом )</p>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->

{% endblock %}